#description {
	.background-proficiencies { display: none; }

	#background-proficiencies { display: none; }
	#background-proficiencies-none { text-align: center; }

	/* dprint-ignore */
	&:not(:has( input:checked)) #background-proficiencies-none { display: block; }
	&:has(#background-acolyte:checked) #background-proficiencies-acolyte { display: block; }
	&:has(#background-criminal:checked) #background-proficiencies-criminal { display: block; }
	&:has(#background-folk-hero:checked) #background-proficiencies-folk-hero { display: block; }
	&:has(#background-haunted-one:checked) #background-proficiencies-haunted-one { display: block; }
	&:has(#background-noble:checked) #background-proficiencies-noble { display: block; }
	&:has(#background-sage:checked) #background-proficiencies-sage { display: block; }
	&:has(#background-soldier:checked) #background-proficiencies-soldier { display: block; }

	#personal-characteristics {
		display: grid;
		gap: 1rem;
		grid-auto-flow: column;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);

		textarea {
			display: block;
			min-height: 10rem;
			resize: vertical;
			width: 100%;
		}
	}

	#picture-drop-area {
		align-items: stretch;
		display: grid;
		gap: 1rem;
		grid-template-areas:
			'input'
			'output';
		grid-template-columns: 1fr;
		grid-template-rows: 6rem auto;
		justify-items: stretch;
		width: 100%;

		label, input { grid-area: input; }
		output { grid-area: output; }

		label {
			border: solid medium currentColor;
			border-radius: 0.5rem;
			display: grid;
			place-content: center;
			text-align: center;
		}

		label:has(+ input:focus) {
			background-color: canvastext;
			color: canvas;
			font-style: normal;
			outline: solid medium canvastext;
		}

		label:has(+ input:hover) { outline: solid medium highlight; }

		input {
			opacity: 0;
			overflow: hidden;
			white-space: nowrap;
		}

		input:valid { opacity: 1; }

		&.drop label {
			background-color: highlight;
			color: highlighttext;
			outline: dotted highlight medium;
		}
	}

	#picture-display img {
		height: auto;
		width: 100%;
	}

	textarea { resize: none; }
}

@media (max-width: 40rem) {
	#description #personal-characteristics {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);
	}
}

@media (scripting: enabled) {
	#description {
		#background-proficiencies { display: block; }
		#picture-drop-area input:valid { opacity: 0; }
	}
}
