#equipment {
	#total-weight { display: none; }
	#total-weight meter { width: 100%; }

	#currency {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;

		input { width: 8ch; }
		small, label { display: block; }
	}

	ul {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 1rem;
		margin: 0;
		margin-block-start: -2rem;
		padding: 0;

		&:has(input:checked) { margin-block-start: 0; }

		li {
			align-items: center;
			display: flex;
			gap: 0.5rem;
			justify-content: start;
			list-style: none;
			order: 2;

			&:has(input:checked) {
				font-weight: bold;
				order: 1;
			}

			&:nth-child(1 of :not(:has(input:checked))) { margin-block-start: 2rem; }

			button { padding: 0.1rem 0.6rem; }
		}
	}

	aside {
		background-color: canvas;
		border: solid currentColor medium;
		border-radius: 1rem;
		color: inherit;
		max-height: 80vmin;
		max-width: 80vw;
		min-height: 50vmin;
		min-width: 50vw;
		overflow: auto;
		overscroll-behavior: contain;
		padding: 1rem;

		header {
			font-size: 2rem;
			font-weight: bold;
		}

		&::backdrop {
			backdrop-filter: blur(0.5rem);
			background-color: color-mix(in srgb, canvas, transparent 20%);
		}
	}
}
