#race {
	#race-list {
		columns: 3;

		& *:nth-child(2) { margin-block-start: 0; }
		& *:last-child { margin-block-end: 0; }
	}

	.race-details { display: none; }

	#race-details-none { text-align: center; }

	/* dprint-ignore */
	&:not(:has( input:checked)) #race-details-none { display: block; }
	&:has(#race-dragonborn:checked) #race-details-dragonborn { display: block; }
	&:has(#race-dwarf:checked) #race-details-dwarf { display: block; }
	&:has(#race-elf:checked) #race-details-elf { display: block; }
	&:has(#race-gnome:checked) #race-details-gnome { display: block; }
	&:has(#race-half-elf:checked) #race-details-half-elf { display: block; }
	&:has(#race-half-orc:checked) #race-details-half-orc { display: block; }
	&:has(#race-halfling:checked) #race-details-halfling { display: block; }
	&:has(#race-human:checked) #race-details-human { display: block; }
	&:has(#race-tiefling:checked) #race-details-tiefling { display: block; }
}
